


.container{
    display: flex;
    background-color: var(--hover);
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
}

.input{
    background-color: transparent;
    color: var(--text);
    border: none;
}